<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Stylesheets -->
  </head>
  <body>
    <main id="root"></main>
    <!-- JavaScript -->
  </body>
</html>
